div.admonition.admonition {
    font-size: 1.1em;
}


/* .admonition.admonition > .admonition-title {
    background-color: #5b4fff;
    color: #b35900;
} */

div.admonition.attention {
    font-size: 1.1em;
    background-color: #1c1608;
    border-left: 4px solid #f0ad4e;
    padding: 10px;
}
